.Groups {
  margin-left: 12em;
}

@media (max-width: 1000px) {
  .Groups {
    margin-left: 5em;

    .rightBar {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .Groups {
    margin-left: 5em;
  }
}
